*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    background-color: hsl(0, 0%, 12%);
    padding: 2rem;
    border-radius: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rounded-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1, p{
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0px;
}

p {
    font-size: 1rem;
    color: white;
    line-height: 1.5;
}
.profile-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}
.location{
    font-size: 0.75rem;
    color: hsl(75, 94%, 57%);
    margin-top: 0px;
}
.bio{
    max-width: 400px;
    text-align: center;
    line-height: 1.5;
    color: white;
    font-size: 0.85rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 250px;
}

.social-links a{
    display: block;
    text-align: center;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s;
}

.social-links a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.social-links a:focus-visible {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    outline: 2px solid white;
}

.attribution {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(75, 94%, 57%);
    text-decoration: none;
}